.course{
  //display: flex;
  //width: 100%;
  //margin: 50px;

  &__wrapper {
    max-width: 1500px;
    @media (min-width: 1050px) {
      margin: 50px;
    }
  }

  &__grid{
    background-color: var(--background-detailed);
    border-radius: 15px;
    display: grid;
    padding: 30px 40px;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    @media (min-width: 1050px) {
      padding: 40px 65px;
    }
  }
}